{% extends 'base.html' %}
{% load breadcrumb %}

{% block pretitle %}
    {{ origin.name }} |
{% endblock %}

{% block canonical_link %}
    <link rel="canonical" href="{{ origin.get_absolute_url }}">
{% endblock %}

{% block content %}
    <aside class="container-fluid container-fluid-max-width">
        {% with home_url='home' shop_url='shop' %}
        {% breadcrumb 'Главная,Каталог' home_url shop_url name=origin.name as results %}
            {% include 'breadcrumb.html' %}
        {% endwith %}
    </aside>

    <main class="container-fluid container-fluid-max-width bg-white">
        <div class="row">
            <div class="col-12">
                <div class="js-origin-cart-add-desktop-alert"></div>
            </div>
            <div class="col-12 col-md-6 px-3 px-sm-5 px-md-0 px-xl-3 mt-3 mb-md-3">
                {% include 'origin/origin-carousel.html' %}
            </div>
            <div class="col-12 col-md-6 mt-3 mb-md-3">
                {% include 'origin/origin-info.html' %}
            </div>
        </div>
    </main>

    <section class="container-fluid container-fluid-max-width my-3">
        <div class="row">
            <div class="col-12 col-md-8 d-flex flex-column px-0">
                <div class="d-block bg-white">
                    {% with collapse_id="origin-collapse-description" collapse_name="Описание" %}
                        {% include 'collapse.html' with expanded="false" extra_style="css-origin-collapse px-3 py-3" font="h6 my-0" %}

                        <div id="{{ collapse_id }}" class="collapse px-3 py-3 js-collapsible">
                            <p class="my-0">
                                {{ origin.description }}
                            </p>
                        </div>
                    {% endwith %}
                </div>

                <div class="d-block bg-white mt-3">
                    {% with collapse_id="origin-collapse-parameters" collapse_name="Вес и размеры" %}
                        {% include 'collapse.html' with expanded="false" extra_style="css-origin-collapse px-3 py-3" font="h6 my-0" %}

                        <div id="{{ collapse_id }}" class="collapse px-3 py-3 js-collapsible">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Вес</th>
                                        <td>{{ origin.weight }} кг</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Ширина</th>
                                        <td>{{ origin.width }} см</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Длина</th>
                                        <td>{{ origin.length }} см</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Высота</th>
                                        <td>{{ origin.height }} см</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endwith %}
                </div>
            </div>

            <div class="col-12 col-md-4 px-0">
            <div class="d-flex flex-column bg-white py-3 ml-0 ml-md-3 mt-3 mt-md-0">
                <div class="d-block mx-3">
                    <p class="my-0 font-weight-normal text-center">
                        Задайте нам Ваш вопрос
                        <br>
                        Напишите или позвоните нам!
                    </p>
                </div>
                <div class="d-flex justify-content-center mx-3 mt-3">
                    <a href="{% url 'support:support' %}" class="btn btn-outline-color-gray-700 px-3">
                        Перейти в поддержку
                    </a>
                </div>
            </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block filler %}
<div class="flex-fill container-fluid container-fluid-max-width bg-light">
</div>
{% endblock %}
