{% load static %}

<div class="d-flex flex-column bg-color-gray-300 p-3">
    <div class="h4 my-0">
        Оформить заказ
    </div>
    <div class="d-block">
        <hr class="my-3">
    </div>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="ml-auto custom-control-input js-cart-is-fast-delivery-input" id="id_cart_is_fast_delivery_input"
               {% if is_fast_delivery %}checked="checked"{% endif %}
               data-next-state="{% if is_fast_delivery %}false{% else %}true{% endif %}">
        <label class="custom-control-label" for="id_cart_is_fast_delivery_input">
            Быстрая доставка <span class="text-nowrap">в течение</span> <span class="text-nowrap">1-2 дней</span>
        </label>
    </div>
    <div class="d-block">
        <hr class="my-3">
    </div>
    <div class="d-flex justify-content-between">
        <div class="h6 my-0 font-weight-normal">
            Всего:
        </div>
        <div class="h6 my-0">
            {{ total }} тг.
        </div>
    </div>
    <div class="d-flex justify-content-between mt-3">
        <div class="h6 my-0 font-weight-normal">
            Доставка:
        </div>
        <div class="h6 my-0">
            <span class="js-cart-delivery-price">{% if is_fast_delivery %}2900{% else %}0{% endif %}</span> тг.
        </div>
    </div>
    <div class="d-block">
        <hr class="my-3">
    </div>
    <div class="d-flex justify-content-between">
        <div class="h6 my-0">
            Итого:
        </div>
        <div class="h6 my-0">
            <span class="js-cart-summary-total" data-total="{{ total }}">{% if is_fast_delivery %}{{ total|add:"2900" }}{% else %}{{ total }}{% endif %}</span> тг.
        </div>
    </div>
    <div class="mt-3">
        <a href="{% url 'orders:user' %}" class="btn btn-block btn-color-2">
            Оформить заказ
        </a>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <div class="css-icon css-icon-34px">
            <img class="d-block w-100" src="{% static 'img/cash_in_hand_48px.png' %}" alt="Visa">
        </div>
        <div class="css-icon css-icon-34px ml-2">
            <img class="d-block w-100" src="{% static 'img/visa_48px.png' %}" alt="Visa">
        </div>
        <div class="css-icon css-icon-34px ml-2">
            <img class="d-block w-100" src="{% static 'img/mastercard_logo_48px.png' %}" alt="MasterCard">
        </div>
    </div>
    <div class="px-3 px-lg-0 mt-2">
        <div class="text-center"><small>
            Вы можете оплатить наличными или банковской картой.
            Изготовление некоторых товаров требует <span class="text-nowrap">2-3 дней</span>.
            Обычная доставка осуществляется в течение <span class="text-nowrap">3-8 дней</span>, а быстрая <span class="text-nowrap">доставка - в</span> течение <span class="text-nowrap">1-2 дней</span>.
        </small></div>
    </div>
</div>