{% extends 'base.html' %}
{% load static %}

{% block content %}
{#    Showcase #}
    <section class="container-fluid container-fluid-max-width">
        <div class="row">
            <div class="col-12 p-0">
                <div class="css-home-showcase-wrapper">
                    <picture>
                        <source media="(max-width: 575.98px)" srcset="{% static 'img/new-home-showcase-mobile.jpg' %}">
                        <img class="d-block w-100 css-home-showcase-image" src="{% static 'img/new-home-showcase-desktop.jpg' %}" alt="Home Showcase">
                    </picture>
                    <div class="css-home-showcase-text d-flex flex-column justify-content-center px-3 pl-sm-0 pr-md-4 pr-lg-5">
                        {% include 'home/home-showcase-text.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    Break #}
    <div class="d-block py-2"></div>

{#    Advantages #}
    <section class="container-fluid container-fluid-max-width py-1 py-sm-3">
    <div class="row">
{#        Delivery #}
        {% with left_padding=0 right_padding=3 %}
        {% with img_location='img/delivery_125px.png' alt_description='Delivery Advantage' %}
        {% with title='Доставка' text='Бесплатная доставка по Казахстану в течение <span class="text-nowrap">1-2 недель</span>' %}
            {% include 'home/home-advantage.html' %}
        {% endwith %}
        {% endwith %}
        {% endwith %}

{#        Selection #}
        {% with left_padding=2 right_padding=2 %}
        {% with img_location='img/wallet_125px.png' alt_description='Payment Advantage' %}
        {% with title='Способ оплаты' text='Вы можете оплатить покупки наличными, а также банковской картой через интернет' %}
            {% include 'home/home-advantage.html' %}
        {% endwith %}
        {% endwith %}
        {% endwith %}

{#        Support #}
        {% with left_padding=3 right_padding=0 %}
        {% with img_location='img/support_125px.png' alt_description='Support Advantage' %}
        {% with title='Поддержка' text='Помощь клиентам в выборе и оформлении заказа' %}
            {% include 'home/home-advantage.html' %}
        {% endwith %}
        {% endwith %}
        {% endwith %}

    </div>
    </section>
{% endblock %}
