{% extends 'home/home-box.html' %}
{% load static %}

{% block box_content %}
    <div class="css-width-100px ml-3 ml-sm-0">
        <img class="d-block w-100" src="{% static img_location %}" alt="{{ title }}">
    </div>
    <div class="w-100 d-block my-0 my-sm-3">
        <div class="d-flex flex-column">
            <div class="h5 my-0 text-center">
                {{ title }}
            </div>
            <div class="text-center px-3 px-sm-4 px-md-5 px-lg-3 mt-2">
                {% autoescape off %}
                    {{ text }}
                {% endautoescape %}
            </div>
        </div>
    </div>
{% endblock %}
