{% extends 'base.html' %}

{% block title %}
    Pufiki.kz | Изменение пароля
{% endblock %}

{% block content %}
    <div class="container-fluid container-fluid-max-width">
        <div class="row bg-light">
            <div class="col-12 py-1"></div>
        </div>
        <div class="row bg-white">
            <div class="col-12 col-lg-6 my-3 px-lg-5">
                <div class="h2 font-weight-normal">
                    Изменение пароля
                </div>
                <div class="d-block">
                    <hr>
                </div>
                <form method="post">
                    {% csrf_token %}

                    {% with field=form.old_password text='Старый пароль' %}
                        {% include 'accounts/form-group.html' %}
                    {% endwith %}

                    {% with field=form.new_password1 text='Придумайте пароль' %}
                        {% include 'accounts/form-group.html' %}
                    {% endwith %}

                    {% with field=form.new_password2 text='Повторите пароль' %}
                        {% include 'accounts/form-group.html' %}
                    {% endwith %}

                    {% include 'accounts/form-errors.html' %}

                    <button type="submit" class="btn btn-mobile-block btn-color-2 text-white px-4 py-2">
                        <span class="h6 my-0">Изменить пароль</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
