{% extends 'accounts/base.html' %}

{% block title %}
    {{ title }} |
{% endblock %}

{% block heading %}
    {{ title }}
{% endblock %}

{% block subcontent %}
    <div class="col-12 col-lg-6 px-sm-4 px-lg-5">
        <form method="post">
            {% csrf_token %}

            {% with field=form.email text='Ваш Email адрес' help_text='Введите адрес электронной почты, который Вы указали при регистрации, и на него будет отправлена ссылка на восстановление пароля.' %}
                {% include 'accounts/form-group.html' %}
            {% endwith %}

            {% include 'accounts/form-errors.html' %}

            <button type="submit" class="btn css-btn-sm-block btn-color-2 text-white px-4 py-2 mt-2">
                <span class="h6 my-0">Отправить</span>
            </button>
        </form>
    </div>
{% endblock %}
