{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block heading %}
    {{ title }}
{% endblock %}

{% block subcontent %}
    <div class="col-12 px-sm-4 px-lg-5">
        {% for line in lines %}
            <div class="h5 font-weight-normal">
                {% autoescape off %}
                    {{ line }}
                {% endautoescape %}
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center mt-3">
            <div class="d-inline-block">
                <img class="d-block css-width-100px" src="{% static 'img/checked_125px.png' %}" alt="Готово">
            </div>
        </div>
    </div>
{% endblock %}
