{% load static %}

<section class="col-12 col-sm-6 col-lg-4 px-xl-2 my-3">
    <div class="h-100 d-flex flex-column px-3 py-3 rounded border border-color-gray-300 bg-white">
        <div class="d-inline-block css-width-100px align-self-center">
            <img class="d-block w-100" src="{% static image_location %}" alt="{{ image_alt }}">
        </div>

        <div class="d-inline-block mt-2 mb-3">
            <div class="h5 my-0 text-center">
                {{ text }}
            </div>
        </div>

        {% if extra_text %}
        <div class="d-inline-block mb-3">
            <div class="h5 font-weight-normal my-0 text-center">
                {{ extra_text }}
            </div>
        </div>
        {% endif %}

        <a href="{% if action_url %}{% url action_url %}{% else %}{{ action_link }}{% endif %}" class="btn btn-block btn-light border border-color-gray-500 mt-auto">
            {{ action_text }}
        </a>
    </div>
</section>
