{% extends 'base.html' %}
{% load static %}

{% block title %}
    | Поддержка | Вопрос
{% endblock %}

{% block content %}
    <div class="container-fluid container-fluid-max-width">
        <div class="row bg-light">
            <div class="col-12 py-1"></div>
        </div>
        <div class="row bg-white px-lg-5">
            <div class="col-12 my-3">
                <div class="h2 font-weight-normal">
                    Написать сообщение
                </div>
                <div class="d-block">
                    <hr>
                </div>
                <form method="post">
                    {% csrf_token %}

                    {% if user.is_anonymous %}
                        {% with field=anonymous_user_form.name text='Ваше имя' help_text='Пожалуйста, указывайте реальное имя, по которому мы сможем к Вам обращаться.' %}
                            {% include 'accounts/form-group.html' %}
                        {% endwith %}

                        {% with field=anonymous_user_form.email text='Ваша электронная почта' %}
                            {% include 'accounts/form-group.html' %}
                        {% endwith %}

                        {% with form=anonymous_user_form %}
                            {% include 'accounts/form-errors.html' %}
                        {% endwith %}
                    {% endif %}

                    {% with field=message_form.title text='Тема сообщения' %}
                        {% include 'accounts/form-group.html' %}
                    {% endwith %}

                    {% with field=message_form.body text='Текст' %}
                        {% include 'accounts/form-group.html' %}
                    {% endwith %}

                    {% with form=message_form %}
                        {% include 'accounts/form-errors.html' %}
                    {% endwith %}

                    {% if user.is_anonymous %}
                        <div class="g-recaptcha" data-sitekey="{{ settings.GOOGLE_RECAPTCHA_PUBLIC_KEY }}" data-callback="message_recaptcha_onload"></div>
                    {% endif %}

                    <div class="text-center text-lg-left mt-3">
                        <button type="submit" class="btn btn-mobile-block btn-color-2 text-white px-4 py-2
                            {% if user.is_anonymous %}js-message-submit-button" disabled="disabled" tabindex="-1{% endif %}">
                            <span class="h6 my-0">Отправить</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postscript %}
    {% if user.is_anonymous %}
    <script type="text/javascript">
        var message_recaptcha_onload = function() {
            // Enable button
            var button = $('.js-message-submit-button');
            button.removeAttr('disabled');
            button.removeAttr('tabindex');
        };
    </script>
    <script defer src="https://www.google.com/recaptcha/api.js?hl=ru"></script>
    {% endif %}
{% endblock %}
