{% extends 'base.html' %}
{% load static %}

{% block title %}
    | Поддержка
{% endblock %}

{% block content %}
    <div class="container-fluid container-fluid-max-width">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="h3 my-0 font-weight-light text-center">
                    Популярные вопросы
                </div>
            </div>

            {% for section_name, title, image_location, questions in sections %}
                {% include 'support/section.html' %}
            {% endfor %}
        </div>

        {% include 'support/contact.html' %}
    </div>
{% endblock %}

{% block filler %}
<div class="flex-fill container-fluid container-fluid-max-width"></div>
{% endblock %}
