{% extends 'base.html' %}

{% block pretitle %}
    Условия пользования
{% endblock %}

{% block content %}
    <div class="container-fluid container-fluid-max-width bg-white">
        <div class="row">
            <div class="col-12 my-3">
                <div class="h4">
                    Условия соглашения
                </div>
                <ol class="px-3">
                    <li>ОБЩИЕ ПОЛОЖЕНИЯ
                        <ol class="px-3">
                            <li>
                                Настоящий договор купли-продажи является публичной офертой, содержащей в себе все существенные условия для заключения договора купли-продажи Товара с Покупателем.
                            </li>
                            <li>
                                Размещением заказа на товар в Интернет-магазине Покупатель безоговорочно соглашается и принимает условия настоящего Соглашения.
                            </li>
                            <li>
                                Продавец вправе в одностороннем порядке изменить условия настоящего Соглашения с доведением до сведения Покупателя путем размещения Соглашения в новой редакции на сайте.
                            </li>
                            <li>
                                Покупатель вправе использовать интерактивные ресурсы Интернет магазина по назначению, оставлять отзывы, комментировать материалы, публиковать собственные материалы и вести онлайн-общение при доступности функционала.
                            </li>
                            <li>
                                Основные понятия, используемые в пользовательском соглашении:
                                <ol class="px-3">
                                    <li>
                                        Продавец – ИП "KZTECHDEV"
                                    </li>
                                    <li>
                                        Покупатель – физическое лицо, являющееся посетителем сайта и желающее приобрести товар через Интернет магазин.
                                    </li>
                                    <li>
                                        Интернет магазин - Интернет-ресурс, принадлежащий Продавцу, расположенный по адресу https://www.pufiki.kz , где представлены Товары, а также иные существенные условия по продаже Товаров.
                                    </li>
                                    <li>
                                        Товар – кресло-мешки, бинбэги, пуфики, бескаркасная мебель, а также иной товар, представленный в интернет-магазине.
                                    </li>
                                    <li>
                                        Заказ – оформленная надлежащим образом заявка Покупателя для приобретения Товара в Интернет магазине.
                                    </li>
                                    <li>
                                        Публичная оферта – предложение заключить договор купли-продажи на оговоренных Продавцом в пользовательском соглашении условиях Покупателю.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}


Условия соглашения
1.ОБЩИЕ ПОЛОЖЕНИЯ
1.1. Настоящий договор купли-продажи является публичной офертой, содержащей в себе все существенные условия для заключения договора купли-продажи Товара с Покупателем.
1.2. Размещением заказа на товар в Интернет-магазине Покупатель безоговорочно соглашается и принимает условия настоящего Соглашения.
1.3. Продавец вправе в одностороннем порядке изменить условия настоящего Соглашения с доведением до сведения Покупателя путем размещения Соглашения в новой редакции на сайте.
1.4. Покупатель вправе использовать интерактивные ресурсы Интернет магазина по назначению, оставлять отзывы, комментировать материалы, публиковать собственные материалы и вести онлайн-общение при доступности функционала.
1.5.Основные понятия, используемые в пользовательском соглашении:
   1.5.1. Продавец – ИП «Bezkaraksa.»
   1.5.2. Покупатель – физическое лицо, являющееся посетителем сайта и желающее приобрести товар через Интернет магазин.
   1.5.3. Интернет магазин - Интернет-ресурс, принадлежащий Продавцу, расположенный по адресу http://bezkarkasa.kz , где представлены Товары, а также иные существенные условия по продаже Товаров.
   1.5.4. Товар – мебельные ткани, кресла - мешки, бескаркасные мебели, а также иной товар, представленный в интернет-магазине.
   1.5.5. Заказ – оформленная надлежащим образом заявка Покупателя для приобретения Товара в Интернет магазине.
   1.5.6. Публичная оферта – предложение заключить договор купли-продажи на оговоренных Продавцом в пользовательском соглашении условиях Покупателю.
1.6. Настоящий договор считается заключенным между Покупателем и интернет - магазином в момент оформления заказа.
1.7. Оферта может быть принята любым физическим лицом на территории Республики Казахстан, имеющим намерение приобрести товар через интернет-магазин.
1.8. В случае принятия условий настоящего договора (т.е. публичной оферты интернет - магазина), физическое лицо, производящее акцепт оферты, становится Покупателем.
1.9. Акцептом является получение Продавцом сообщения о намерении физического лица приобрести товар на условиях, предложенных Продавцом. Акцепт может быть выражен в качестве положительного ответа на предложение Продавца принять условия оферты при оформлении заказа.
2. СТАТУС ИНТЕРНЕТ - МАГАЗИНА
2.1. Интернет-магазин является собственностью Продавца и предназначен для организации дистанционного способа продажи товаров через сеть интернет.
2.2. Интернет-магазин не требует от Покупателя специальных действий для использования ресурса интернет - магазина для просмотра товара, расчета и оформления заказа, таких как регистрация или заключение договора на пользование ресурсом интернет - магазина.
2.3. Интернет-магазин не несет ответственности за содержание и достоверность информации, предоставленной Покупателем при оформлении заказа.
3. СТАТУС ПОКУПАТЕЛЯ
3.1. Покупатель несет ответственность за достоверность предоставленной при оформлении заказа информации, и ее чистоту от претензий третьих лиц.
3.2. Покупатель подтверждает свое согласие с условиями, установленными настоящим Договором, путем подтверждения покупки. Тем самым Покупатель подтверждает, что условия данного договора им прочитаны и понятны.
3.3. Использование ресурса интернет - магазина для просмотра и выбора товара, а так же для оформления заказа является для Покупателя безвозмездным.
3.4. Товар приобретается Покупателем исключительно для личных, семейных, домашних нужд, не связанных с осуществлением предпринимательской деятельности.
4. ПРЕДМЕТ ОФЕРТЫ
4.1. Продавец, на основании заказа(ов) Покупателя, продаёт Покупателю товар в соответствии с условиями и по ценам, установленным Продавцом в оферте и приложениях к ней, при условии наличия товара на складе Продавца. Товары с нулевой ценой признаются отсутствующими в продаже.
4.2. Доставка товаров, заказанных и оплаченных Покупателем, осуществляется Продавцом.
4.3. К отношениям между Покупателем и Продавцом применяются положения законодательства РК, в том числе положения ГК РК о розничной купле-продаже, Закон РК «О защите прав потребителей».
4.4. Физическое лицо считается принявшим все условия оферты (акцепт оферты) и приложений к ней в полном объеме и без исключений с момента получения Продавцом сообщения о намерении Покупателя приобрести товар на условиях, предложенных Продавцом. В случае акцепта оферты физическое лицо считается заключившим с Продавцом договор купли-продажи заказанных товаров и приобретает статус Покупателя.
5. ПОРЯДОК ЗАКЛЮЧЕНИЯ ДОГОВОРА КУПЛИ-ПРОДАЖИ
5.1. Покупатель может оформить заказ самостоятельно на сайте интернет - магазина, либо через менеджера по телефонам, указанным на сайте, на условиях Договора купли-продажи (публичной оферты интернет - магазина).
5.2. При оформлении заказа в интернет - магазине, Покупатель обязан предоставить о себе информацию:
Ф.И.О. (для физических лиц) Покупателя Товара;
адрес доставки Товара;
контактный телефон и электронную почту Покупателя Товара.
5.3. Волеизъявление Покупателя осуществляется посредством внесения последним соответствующих данных в форму заказа в интернет -магазине либо подачей заявки через менеджера интернет – магазина.
5.4. Интернет-магазин не редактирует информацию о Покупателе.
6. ИНФОРМАЦИЯ О ТОВАРЕ
6.1. Графические изображения-образцы, не являющиеся собственностью интернет - магазина. Взято из открытого источника.
6.2. Каждое графическое изображение -образец сопровождается текстовой информацией: наименованием, размерным рядом (при необходимости), ценой и описанием товара.
6.3. Все информационные материалы, представленные в интернет - магазине, носят справочный характер и не могут в полной мере передавать информацию о свойствах и характеристиках товара, включая цвета, размеры и формы. В случае возникновения у Покупателя вопросов, касающихся свойств и характеристик товара, Покупатель должен перед оформлением заказа обратиться к Продавцу по телефонам указанным на сайте.
6.4. По просьбе Покупателя менеджер интернет - магазина вправе предоставить (по телефону или посредством электронной почты) прочую информацию, необходимую и достаточную, с точки зрения Покупателя, для принятия им решения о покупке товара.
6.5. Покупатель уведомлен о том, что приобретая товар со скидкой, установленной в связи с его недостатками (дефектами), он лишается права ссылаться на них в дальнейшем.
7. ПОРЯДОК ПРИОБРЕТЕНИЯ ТОВАРА
7.1. Покупатель вправе оформить заказ на любой товар, представленный в интернет - магазине. Каждый товар может быть заказан в любом количестве. Исключения из указанного правила указаны в описании каждого товара в случае проведения акций, снятия товара с продажи и т.п.
7.2. Заказ может быть оформлен Покупателем по телефонам, указанным на сайте, или оформлен самостоятельно на сайте.
7.3. После оформления заказа Продавец подтверждает заказ Покупателя путем отправления на e-mail Покупателя информации, подтверждающий принятие заказа, с указанием цены выбранного товара и общей суммы заказа или менеджер интернет - магазина связывается с Покупателем по телефону.
7.4. При отсутствии товара на складе менеджер интернет - магазина обязан поставить в известность об этом Покупателя (по телефону или посредством электронной почты).
7.5. При отсутствии товара Покупатель вправе заменить его другим товаром либо аннулировать заказ.
8. ЦЕНА ТОВАРА
8.1. Цена товара в интернет - магазине указана в тенге за единицу товара.
8.2. Полная стоимость заказа состоит из стоимости товара, стоимости доставки отдельно.
9. ОПЛАТА ТОВАРА
9.1. Условия оплаты заказанного товара оговариваются Покупателем с менеджером интернет -магазина.
9.2. При наличной форме оплаты Покупатель обязан уплатить Продавцу цену товара в момент его передачи путем передачи денег представителю интернет -магазина, который доставит товар либо курьеру по доставке.
9.3. Покупатель оплачивает заказ любым способом, предоставленным менеджером интернет -магазина.
10. ДОСТАВКА ТОВАРОВ
10.1. Переход права собственности и риск случайной гибели, утраты или повреждения товара переходит к Покупателю с момента передачи товара Покупателю в месте исполнения договора с момента подписания Сторонами акта приёма товара (товарной накладной.) 10.2. При доставке товар вручается Покупателю.
10.3. Покупатель обязан принять товар по количеству и ассортименту в момент его приемки.
10.4. При получении товара Покупатель вправе в присутствии представителя Продавца (перевозчика) проверить его соответствие накладной, удостовериться по наименованию товара в количестве, качестве, комплектности товара. Покупатель, при получении товара, обязан подписать Заказ покупателя, подтверждая своей подписью, что не имеет претензий к внешнему виду и комплектности товара.
10.5. Покупатель понимает и соглашается с тем, что: осуществление доставки - отдельная услуга, не являющаяся неотъемлемой частью приобретаемого Покупателем Товара, выполнение которой заканчивается в момент получения Товара и осуществления платежа за него.
11. ГАРАНТИИ НА ТОВАР
11.1. Гарантийный срок на товар установлен на сайте Интернет магазина.
11.2. Покупатель вправе обменять или вернуть товар надлежащего качества, если он не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы, ярлыки, а также документ, подтверждающий факт приобретения товара, в течение четырнадцати календарных дней со дня приобретения товара.
11.3. Претензии к качеству приобретенного Товара, возникшие после получения и оплаты Товара, рассматриваются в соответствии с Законом РК «О защите прав потребителей» и гарантийными обязательствами Продавца. В связи с этим приобретение Товара с доставкой не дает Покупателю право требования доставки приобретенного Товара в целях гарантийного обслуживания или замены, и не дает возможности осуществлять гарантийное обслуживание или замену Товара посредством выезда к Покупателю.
Настоящий договор между интернет - магазином “BEZKARKASA.KZ” и пользователем услуг интернет - магазина, именуемым в дальнейшем «Покупатель», определяет условия приобретения товаров через сайт интернет - магазина http://bezkarkasa.kz