{% extends 'cabinet/base.html' %}
{% load static %}
{% load math %}

{% block subtitle %}
    | Мои заказы | {{ order.slug }}
{% endblock %}

{% block subcontent %}
    <div class="h4">
        Заказ №{{ order.slug }}
    </div>
    {% with last_order_status=order.orderstatus_set.last %}
    <div class="my-3 font-weight-normal">
        Статус заказа: <span class="font-weight-bold">{% if last_order_status %}{{ last_order_status.get_status_display|lower }}{% else %}Оформлено{% endif %}</span>
    </div>
    {% endwith %}
    <hr>
    <div class="h5 my-3 font-weight-normal">
        Заказанные товары
    </div>
    {% for orderproduct in order.orderproduct_set.all %}
        {% with product=orderproduct.product %}
        <div class="d-flex align-items-center">
            <div class="css-cart-product-image">
                <img class="d-block w-100" src="{{ product.small_photo.url }}" alt="Product {{ product.slug }}">
            </div>
            <div class="d-flex flex-column ml-3">
                <a href="{{ product.origin.get_absolute_url }}?color={{ product.color }}">
                    <div class="h6 my-0 text-color-2">
                        <u>{{ product.origin.name }}</u>
                    </div>
                </a>
                <div class="h6 my-0 mt-1 font-weight-light">
                    {{ product.get_color_display }}
                </div>
            </div>
            <div class="d-flex flex-column ml-3">
                <div class="h6 my-0 font-weight-light">
                    {{ orderproduct.current_price|multiply:orderproduct.quantity }} тг.
                </div>
                <div class="h6 my-0 mt-1 font-weight-light">
                    {{ orderproduct.quantity }} шт.
                </div>
            </div>
        </div>
        <hr>
        {% endwith %}
    {% endfor %}
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="h5 font-weight-normal">
                Информация о доставке
            </div>
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <th scope="row">Имя</th>
                        <td>{{ order.user.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Телефон</th>
                        <td>{{ order.phone }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Адрес</th>
                        <td>{{ order.address }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Быстрая доставка</th>
                        <td>{% if order.is_fast_delivery %}Да{% else %}Нет{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-0">
{#            <hr class="d-md-none">#}
            <div class="h5 font-weight-normal">
                Информация об оплате
            </div>
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <th scope="row">Сумма к оплате</th>
                        <td>{{ order.total_to_pay }} тг.</td>
                    </tr>
                    <tr>
                        <th scope="row">Способ оплаты</th>
                        <td>{{ order.get_payment_method_display }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-6 mt-3">
{#            <hr>#}
            <div class="h5 font-weight-normal">
                История заказа
            </div>
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <th scope="row">Оформлено</th>
                        <td>{{ order.date_created }}</td>
                    </tr>
                    {% for status in order.orderstatus_set.all %}
                    <tr>
                        <th scope="row">{{ status.get_status_display }}</th>
                        <td>{{ status.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
