{% extends 'cabinet/base.html' %}

{% block subtitle %}
    | Настройки
{% endblock %}

{% block subcontent %}
    <div class="h4 font-weight-normal mt-3 mt-lg-0">
        Данные
    </div>
    <hr>
    <div class="my-3">
        <form method="post">
            {% csrf_token %}

            {% with form=user_change_form %}
                {% with field=form.name text='Ваше имя' %}
                    {% include 'accounts/form-group.html' %}
                {% endwith %}

                {% include 'accounts/form-errors.html' %}
            {% endwith %}

            <button type="submit" class="btn css-btn-lg-block btn-color-2 px-4 py-2">
                <span class="h6 my-0">Изменить данные</span>
            </button>
        </form>
    </div>
    <div class="h4 font-weight-normal my-3">
        Пароль
    </div>
    <hr>
    <div class="my-3">
        <a href="{% url 'accounts:password-change' %}" class="btn btn-color-2 css-btn-lg-block px-4 py-2">
            <span class="h6 my-0">Изменить пароль</span>
        </a>
    </div>
{% endblock %}
