{% extends 'cabinet/base.html' %}

{% block subtitle %}
    | Настройки
{% endblock %}

{% block subcontent %}
    <div class="h4">
        Данные
    </div>
    <hr>
    <form method="post">
        {% csrf_token %}

        {% with form=user_change_form %}
            {% with field=form.name text='Ваше имя' %}
                {% include 'accounts/form-group.html' %}
            {% endwith %}

            {% include 'accounts/form-errors.html' %}
        {% endwith %}

        <button type="submit" class="btn css-btn-sm-block btn-light border border-color-gray-500 px-4 py-2">
            <span class="h6 my-0">Сохранить</span>
        </button>
    </form>
    <div class="h4 mt-3">
        Пароль
    </div>
    <hr>
    <div class="my-3">
        <a href="{% url 'accounts:password-change' %}" class="btn css-btn-sm-block btn-light border border-color-gray-500 px-4 py-2">
            <span class="h6 my-0">Изменить пароль</span>
        </a>
    </div>
{% endblock %}
