body {
  cursor: default;
}

.container-fluid-max-width {
  max-width: 1280px;
}

.css-display-none {
  display: none !important;
}

.css-width-100px {
  width: 100px;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  .css#{$infix}-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6;
    background-color: $white;
  }

  @include media-breakpoint-up($breakpoint) {
    .css#{$infix}-overlay {
      display: block !important;
      position: static;
      width: auto;
      height: auto;
      background-color: inherit;
    }
  }
}

.css-reverse-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  background-color: $white;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  .css-btn#{$infix}-block {
    display: block;
    width: 100%;
  }

  @include media-breakpoint-up($breakpoint) {
    .css-btn#{$infix}-block {
      display: inline-block;
      width: auto;
    }
  }
}
