.css-home-showcase-wrapper {
  position: relative;
}

.css-home-showcase-text {
  position: absolute;
  top: percentage(480/840);
  bottom: 0;
  left: 0;
  right: 0;
}

@include media-breakpoint-up(sm) {
  .css-home-showcase-text {
    top: 0;
    bottom: 0;
    left: 40%;
    right: 0;
  }
}
