.css-icon {
  background-repeat: no-repeat;
  background-size: cover;
}

.css-icon-hover:hover {
  cursor: pointer;
}

$icon-sizes: 24px, 32px, 34px, 40px;

@each $size in $icon-sizes {
  .css-icon-#{$size} {
    height: $size;
    width: $size;
  }
}

$icons: (
  "menu": (
    "gray": "../icons/menu_48px_gray.png",
    "black": "../icons/menu_48px_black.png"
  ),
  "cancel": (
    "gray": "../icons/cancel_48px_gray.png",
    "black": "../icons/cancel_48px_black.png"
  ),
  "shopping-cart": (
    "gray": "../icons/shopping_cart_48px_gray.png",
    "black": "../icons/shopping_cart_48px_black.png"
  ),
  "user": (
    "gray": "../icons/user_48px_gray.png",
    "black": "../icons/user_48px_black.png"
  ),
  "help": (
    "gray": "../icons/help_48px_gray.png",
    "black": "../icons/help_48px_black.png"
  ),
  "angle-down": (
    "gray": "../icons/angle_down_48px_gray.png",
    "black": "../icons/angle_down_48px_black.png"
  ),
  "angle-up": (
    "gray": "../icons/angle_up_48px_gray.png",
    "black": "../icons/angle_up_48px_black.png"
  ),
  "generic-sorting": (
    "gray": "../icons/generic_sorting_48px_gray.png",
    "black": "../icons/generic_sorting_48px_black.png"
  ),
  "sorting-options": (
    "gray": "../icons/sorting_options_48px_gray.png",
    "black": "../icons/sorting_options_48px_black.png"
  ),
  "sort": (
    "gray": "../icons/sort_48px_gray.png",
    "black": "../icons/sort_48px_black.png"
  ),
  "angle-left": (
    "gray": "../icons/angle_left_48px_gray.png",
    "black": "../icons/angle_left_48px_black.png"
  ),
  "angle-right": (
    "gray": "../icons/angle_right_48px_gray.png",
    "black": "../icons/angle_right_48px_black.png"
  ),
  "edit": (
    "gray": "../icons/edit_48px_gray.png",
    "black": "../icons/edit_48px_black.png"
  ),
  "trash": (
    "gray": "../icons/trash_48px_gray.png",
    "black": "../icons/trash_48px_black.png"
  )
);

@each $name, $colors in $icons {
  .css-icon-#{$name} {
    background-image: url("#{map_get($colors, "gray")}");

    &:hover {
      background-image: url("#{map_get($colors, "black")}");
    }
  }

  .css-icon-#{$name}-parent {
    &:hover .css-icon {
      background-image: url("#{map_get($colors, "black")}");
    }
  }
}

@function every-icon-url($icons) {
  $urls: "";
  @each $name, $colors in $icons {
    @each $color_name, $color_location in $colors {
      $urls: $urls + " " + url("#{$color_location}");
    }
  }
  @return $urls;
}

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: #{every-icon-url($icons)};
}
