{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
{#Global site tag (gtag.js) - Google Analytics#}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145082281-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-145082281-1');
</script>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if meta_description %}
        <meta name="description" content="{{ meta_description }}">
    {% else %}
        <meta name="description" content="Интернет-магазин качественных и комфортных кресло-мешков, бинбэгов и пуфиков. Доставка по Казахстану. Оплата банковской картой или наличными курьеру.">
    {% endif %}
    <title>
        {% block pretitle %}{% endblock %}
        Кресло-мешки, пуфики и бинбэги | Казахстанский интернет-магазин | Pufiki.kz
        {% block posttitle %}{% endblock %}
    </title>

    {% if canonical_link %}
        <link rel="canonical" href="{{ canonical_link }}">
    {% endif %}

    {% if not indexed %}
        <meta name="robots" content="noindex">
    {% endif %}

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="vh-100 d-flex flex-column bg-light js-body">
    <div class="d-block flex-shrink-0">
        {% include 'header.html' %}

        {% block content %}
        {% endblock %}
    </div>

    {% block filler %}
        <div class="flex-fill container-fluid container-fluid-max-width bg-white"></div>
    {% endblock %}

    <div class="d-block flex-shrink-0">
        {% include 'footer.html' %}
    </div>

    {% block script %}
    {% endblock %}

    <script defer src="{% static 'js/main.js' %}"></script>

    {% block postscript %}
    {% endblock %}
</body>
</html>
