{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Pufiki.kz
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="vh-100 d-flex flex-column bg-light js-body">
    <div class="d-block flex-shrink-0">
    {% include 'header.html' %}
    </div>

    <div class="d-block flex-shrink-0">
    {% block content %}
    {% endblock %}
    </div>

    {% block filler %}
    <div class="flex-fill"></div>
    {% endblock %}

    <div class="d-block flex-shrink-0">
{#    {% include 'footer.html' %}#}
    </div>

    {% block script %}
    {% endblock %}

    <script defer src="{% static 'js/main.js' %}"></script>

    {% block postscript %}
    {% endblock %}
</body>
</html>
