<footer class="container-fluid container-fluid-max-width">
    <div class="row bg-color-3 py-4 mt-3">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 offset-lg-1 d-flex flex-column text-center text-sm-left my-3">
            <div>
                <span class="border border-color-1 rounded bg-color-1 h5 my-0 p-2 text-white">Pufiki.kz</span>
            </div>
            <div class="mt-3">
                <span class="my-2"><a href="{% url 'home' %}" class="text-white">Главная</a></span>
            </div>
            <div class="mt-3">
                <span class="my-2"><a href="{% url 'shop' %}" class="text-white">Каталог</a></span>
            </div>
            <div class="mt-3">
                <span class="my-2"><a href="{% url 'support:support' %}" class="text-white">Поддержка</a></span>
            </div>
            <div class="mt-3">
                <span class="my-2"><a href="{% url 'accounts:login' %}" class="text-white text-nowrap">Войти / Регистрация</a></span>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 offset-lg-1 d-flex flex-column text-center text-sm-left my-3">
            <div>
                <span class="h5 my-0 py-2 text-white">Популярные вопросы</span>
            </div>
            <div class="mt-3">
                <a href="{% url 'support:question' section_name='product' question_index='0' %}" class="text-white">Продукция</a>
            </div>
            <div class="mt-3">
                <a href="{% url 'support:question' section_name='delivery' question_index='0' %}" class="text-white">Доставка</a>
            </div>
            <div class="mt-3">
                <a href="{% url 'support:question' section_name='payment' question_index='0' %}" class="text-white">Оплата</a>
            </div>
            <div class="mt-3">
                <a href="{% url 'support:question' section_name='return' question_index='0' %}" class="text-white">Возврат или замена</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 offset-lg-1 d-flex flex-column text-center text-sm-left my-3">
            <div>
                <span class="h5 my-0 py-2 text-white">Контакты</span>
            </div>
        </div>
    </div>
</footer>