<header class="container-fluid container-fluid-max-width px-0 js-header">
    <div class="d-flex align-items-center px-2 px-sm-3 px-lg-4 py-3 bg-white">

        <div class="d-inline-block d-md-none px-1 px-sm-2 py-1 css-icon-hover css-icon-menu-parent js-header-menu-open-toggler">
            <div class="css-icon css-icon-32px css-icon-menu"></div>
        </div>

        <div class="d-inline-block border rounded bg-color-1 ml-2 ml-sm-3 ml-md-0">
            <a href="{% url 'home' %}" class="text-decoration-none text-white">
                <div class="h5 my-0 p-2">
                    Pufiki.kz
                </div>
            </a>
        </div>

        <div class="d-inline-block ml-2 ml-sm-3 ml-lg-4">
            <a href="{% url 'shop' %}" class="text-decoration-none text-color-2">
                <div class="h5 my-0 px-1 px-sm-2 py-2">
                    Магазин
                </div>
            </a>
        </div>

        <div class="d-inline-block ml-auto">
            <a href="{% url 'cart' %}" class="text-decoration-none text-color-gray-700">
                <div class="d-flex align-items-center justify-content-center px-0 px-sm-2 py-1 css-icon-shopping-cart-parent">
                    <div class="d-none d-md-inline-block h6 my-0">
                        Корзина
                    </div>
                    <div class="d-inline-block">
                        <div class="css-icon css-icon-32px css-icon-shopping-cart"></div>
                    </div>
                    <div class="d-inline-block ml-1">
                        <span class="badge badge-color-gray-600 js-header-cart-items-count">{{ cart_items_count }}</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="d-none d-md-inline-block ml-3">
            <a href="{% url 'support:support' %}" class="text-decoration-none text-color-gray-700">
                <div class="d-flex align-items-center justify-content-center px-2 py-1 css-icon-help-parent">
                    <div class="d-none d-md-inline-block h6 my-0">
                        Поддержка
                    </div>
                    <div class="d-inline-block">
                        <div class="css-icon css-icon-32px css-icon-help"></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="d-none d-md-inline-block ml-3">
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <a href="{% url 'profile:orders' %}" class="text-decoration-none text-color-gray-700 dropdown-toggle" data-toggle="dropdown">
                        <div class="d-flex align-items-center justify-content-center px-2 py-1 css-icon-user-parent">
                            <div class="d-none d-md-inline-block h6 my-0">
                                Мой аккаунт
                            </div>
                            <div class="d-inline-block">
                                <div class="css-icon css-icon-32px css-icon-user"></div>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'profile:orders' %}">Мои заказы</a>
                        <a class="dropdown-item" href="{% url 'profile:chats' %}">Мои сообщения</a>
                        <a class="dropdown-item" href="{% url 'profile:settings' %}">Мои настройки</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">Выйти</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'accounts:login' %}" class="text-decoration-none text-color-gray-700">
                    <div class="d-flex align-items-center justify-content-center px-2 py-1 css-icon-user-parent">
                        <div class="d-none d-md-inline-block h6 my-0 text-nowrap">
                            Войти / Регистрация
                        </div>
                        <div class="d-inline-block">
                            <div class="css-icon css-icon-32px css-icon-user"></div>
                        </div>
                    </div>
                </a>
            {% endif %}
        </div>
    </div>

    <aside class="d-md-none">
        <div class="css-md-overlay js-header-menu">
            <div class="d-flex justify-content-end mr-3 mt-3 bg-white">
                <div class="d-inline-block d-md-none p-1 css-icon-hover css-icon-cancel-parent js-header-menu-close-toggler">
                    <div class="css-icon css-icon-32px css-icon-cancel"></div>
                </div>
            </div>

            <div class="d-flex flex-column">
                <div>
                    <hr>
                </div>
                <div class="d-block">
                    <a href="{% url 'support:support' %}" class="text-decoration-none text-color-gray-700">
                        <div class="d-flex align-items-center justify-content-center py-1 css-icon-help-parent">
                            <div class="d-inline-block h6 my-0">
                                Поддержка
                            </div>
                            <div class="d-inline-block">
                                <div class="css-icon css-icon-32px css-icon-help"></div>
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <hr>
                </div>

                {% if user.is_authenticated %}
                    <div class="d-block">
                        <a href="{% url 'profile:orders' %}" class="text-decoration-none text-color-gray-700">
                            <div class="h6 my-0 text-center py-2">
                                Мои заказы
                            </div>
                        </a>
                    </div>
                    <div class="d-block mt-3">
                        <a href="{% url 'profile:chats' %}" class="text-decoration-none text-color-gray-700">
                            <div class="h6 my-0 text-center py-2">
                                Мои сообщения
                            </div>
                        </a>
                    </div>
                    <div class="d-block mt-3">
                        <a href="{% url 'profile:settings' %}" class="text-decoration-none text-color-gray-700">
                            <div class="h6 my-0 text-center py-2">
                                Мои настройки
                            </div>
                        </a>
                    </div>
                    <div>
                        <hr>
                    </div>
                    <div class="d-block">
                        <a href="{% url 'accounts:logout' %}" class="text-decoration-none text-color-gray-700">
                            <div class="h6 my-0 text-center py-2">
                                Выйти
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="d-block">
                        <a href="{% url 'accounts:login' %}" class="text-decoration-none text-color-gray-700">
                            <div class="d-flex align-items-center justify-content-center py-2 css-icon-user-parent">
                                <div class="d-inline-block h6 my-0">
                                    Войти / Регистрация
                                </div>
                                <div class="d-inline-block">
                                    <div class="css-icon css-icon-32px css-icon-user"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </aside>
</header>
