{% extends 'accounts/base.html' %}

{% block pretitle %}
    {{ title }} |
{% endblock %}

{% block heading %}
    {{ title }}
{% endblock %}

{% block subcontent %}
    <div class="col-12 col-lg-6 px-sm-4 px-lg-5">
        <form method="post">
            {% csrf_token %}

            {% with field=form.name text='Ваше имя' help_text="Пожалуйста, указывайте реальное имя, по которому мы сможем к Вам обращаться. Например, Дамир или Дамир Ануарович." %}
                {% include 'accounts/form-group.html' %}
            {% endwith %}

            {% with field=form.email text='Ваша электронная почта' %}
                {% include 'accounts/form-group.html' %}
            {% endwith %}

            {% with field=form.password1 text='Придумайте пароль' %}
                {% include 'accounts/form-group.html' %}
            {% endwith %}

            {% with field=form.password2 text='Повторите пароль' %}
                {% include 'accounts/form-group.html' %}
            {% endwith %}

            {% include 'accounts/form-errors.html' %}

            <div class="g-recaptcha" data-sitekey="{{ settings.GOOGLE_RECAPTCHA_PUBLIC_KEY }}" data-callback="signup_recaptcha_onload"></div>

            <div class="mt-3">
                <button type="submit" class="btn css-btn-sm-block btn-color-2 text-white px-4 py-2 js-signup-submit-button" disabled="disabled" tabindex="-1">
                    <span class="h6 my-0">Создать аккаунт</span>
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block postscript %}
    <script type="text/javascript">
        var signup_recaptcha_onload = function() {
            // Enable button
            var button = $('.js-signup-submit-button');
            button.removeAttr('disabled');
            button.removeAttr('tabindex');
        };
    </script>
    <script defer src="https://www.google.com/recaptcha/api.js?hl=ru"></script>
{% endblock %}
