{% extends 'orders/base.html' %}

{% block subtitle %}
    | Пользователь
{% endblock %}

{% block subcontent %}
    <div class="col-12 px-sm-4 px-lg-5 mb-3">
        <div class="h5 font-weight-normal">
            Перед оформлением заказа мы Вам рекомендуем выполнить вход или создать аккаунт, который позволит Вам:
        </div>
        <ul class="px-4">
            {% include 'accounts/signup/advantages.html' %}
        </ul>
        <div class="d-flex flex-column flex-lg-row mt-3">
            <a href="{% url 'orders:details' %}" class="btn css-btn-lg-block btn-light border border-color-gray-500">
                <span class="h6 my-0">Продолжить без регистрации</span>
            </a>
            <a href="{% url 'accounts:login' %}" class="btn css-btn-lg-block btn-color-2 ml-0 ml-lg-3 mt-3 mt-lg-0">
                <span class="h6 my-0">Войти / Регистрация</span>
            </a>
        </div>
    </div>
{% endblock %}
