{% extends 'email/base.html' %}
{% load static %}

{% block title %}
    Подтверждение Вашего электронного адреса
{% endblock %}

{% block content %}
    <img src="{{ domain }}{% static 'img/logo.png' %}" alt="Logo">
    <h2>Добро пожаловать!</h2>
{#    <img src="{{ domain }}{% static 'img/shopping_cart_125px.png' %}" alt="Image">#}
    <h3 style="font-weight: normal;">Данное письмо отправлено для подтверждения Вашего электронного адреса на сайте <span style="color: #D7263D; font-weight: bold;">Pufiki.kz</span>.</h3>
    <h3 style="font-weight: normal;">Для подтверждения Вашего электронного адреса перейдите по ссылке ниже.</h3>
    <h3 style="color: #008BF8;">{{ action_url }}</h3>
{% endblock %}
